<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769453118433-rsar0hdajkoc8b2eik8filn20u3bri1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769453118433-rsar0hdajkoc8b2eik8filn20u3bri1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAKymJMFeDUMaRw4yajyiaAxniQaNf6k2A</string>
	<key>GCM_SENDER_ID</key>
	<string>769453118433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>fir-sample-6574d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-sample-6574d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769453118433:ios:da293ecb0bef648cab78a0</string>
</dict>
</plist>